@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h4>
                      About<br>
                      _____
</h4>
<br>
<p>
    Questions and comments related to oXitip contact:<br /><br />
    Nivedita Rethnakar, Email: <a href="mailto:nivupai@gmail.com">nivupai[@@]gmail.com</a><br />
    Prof. Suhas Diggavi, Email <a href="mailto:suhas@ee.ucla.edu">suhas[@@]ee.ucla.edu</a><br />
    Prof. Raymond W Yeung, Email: <a href="mailto:whyeung@ie.cuhk.edu.hk">whyeung[@@]ie.cuhk.edu.hk</a>
</p>